*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home:hover, .search:hover, .explore:hover, .reels:hover, .messages:hover, .notifications:hover, .create:hover, .profile:hover{
    background-color: #FAFAFA;
    border-radius: 100px;
    cursor: pointer;
}

.container{
    width: 16vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(222, 222, 222);
    position: fixed;
    left: 0;
}

.menu{
    width: 90%;
    height: 90%;
}

.wrap-logo{
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    margin-left: 14px;
    padding-bottom: 15px;
    cursor: pointer;
}

.logoInstagram{
    width: 50%;
}

.wrap-list{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home, .create{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
}

.homeText{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.search, .explore, .reels, .messages, .notifications{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchIcon, .exploreIcon, .reelsIcon, .messagesIcon{
    width: 25px;
    height: 25px;
    margin-left: 13px;
}

.notificationsIcon{
    width: 35px;
    height: 30px;
    margin-left: 9px;
}

.createIcon{
    margin-left: 3px;
}

.searchText, .exploreText, .reelsText, .messagesText{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.notificationsText{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.createText{
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-bottom: 11px;
}

.profile{
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 11px;
    margin-bottom: 15px;
    object-fit: cover;
}

.profileText{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 20px;
}